<ion-content>
  <div class="main_content_div">

    <div class="upper_div">
      <!-- <img src="assets/imgs/back2.png" class="back_arrow" (click)="goBack()"> -->
      <br>
      <br>
      <br>

    <div class="ion-text-center">
      <img class="imgLogo" src="assets/condominio/logo_png.png">
    </div>

      <br>
      <br>
      <br>

      <div class="content_div">
        <ion-label class="head_lbl ion-text-center">Ingresa a tu cuenta</ion-label>

        <div class="div_form">
          <ion-input type="text" class="ip" placeholder="Email" [(ngModel)]="email"></ion-input>
          <ion-input type="password" class="ip" placeholder="Contraseña" [(ngModel)]="contrasena"></ion-input>
          <ion-label class="forgot_lbl" >Olvidaste tus credenciales?</ion-label>
        </div>

        <ion-button (click)="goToHome()" expand="full" shape="round" class="red_btn">
          Ingresar
        </ion-button>
      </div>
    </div>
    
  </div>
</ion-content>