<ion-header no-border>
  <ion-toolbar no-border-bottom color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <ion-row class="ion-text-center">
    <ion-col size="12" class="inputCol">
      <label class="inputTitle">Información del Administrador del complejo {{nombre_complejo}}</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputTitle">Nombre:</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputDesc">{{nombre_administrador}}</label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputTitle">Teléfono:</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputDesc">{{telefono_administrador}}</label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputTitle">Email:</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputDesc">{{email_administrador}}</label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputTitle">Datos Bancarios:</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputDesc">{{datos_bancarios}}</label>
    </ion-col>
  </ion-row>
</ion-content>
