.textomenu {
    text-align: center;
}

.avatarm {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    display: inline-block;
}


.listSide {
    padding: 0%;
}

.labelmenu {
    margin: 0px;
}