<ion-header no-border>
  <ion-toolbar no-border-bottom color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      Mensaje Privado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <div class="divAdd">
    <ion-chip color="primary" (click)="openNew( )">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Nuevo Mensaje</ion-label>
    </ion-chip>
  </div> -->

  <ion-item>
    <ion-label>Seleccione el destinatario</ion-label>
    <ion-select placeholder="Seleccione el destinatario" mode="ios" (ionChange)="selectAdmin($event)">
      <ion-select-option *ngFor="let admin of selAdmins" value="{{admin.id_administrador}}" >{{admin.nombre_administrador}}</ion-select-option>
    </ion-select>
  </ion-item>

  <br>
  <br>
  <br>

  <div class="ion-text-center ion-padding">
    <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
    <ion-label class="labelTitle">
      Listado de Mensajes
    </ion-label>
  </div>

  <ion-item *ngFor="let item of [1,2,3]" (click)="openChat( )">
    <ion-avatar slot="start">
      <img src="assets/condominio/logo_png.png">
    </ion-avatar>
    <ion-label>
      <h3>Miguel Hernandez </h3>
      <p> Mensaje entrante </p>
    </ion-label>
    <ion-icon class="cssgray" name="arrow-forward" slot="end"></ion-icon>
  </ion-item>

</ion-content>