#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.avatarm {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  display: inline-block;
}

.listSide {
  padding: 0%;
}

.textomenu {
  text-align: center;
}

.subrayado {
  text-decoration: underline ;     
}

.labelmenu{
  margin: 0px;
}

.row{
  background-color:#f26a52;
  height: 125px;
  border-radius: 15px;
}

.label {
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.number{
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.rowDeuda{
  border: 1px solid #A9A9A6;
  box-shadow: 3px 3px #ecebe8 ;
}